a { text-decoration: none;

}

ul {list-style: none;}

body {
    font-family: var(--font-main);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.02em;
    background: var(--background-color);
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}